
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Custom ###
/db/
/db/indexes/
/scripts/
/logs/
src/main/resources/secrets*.yaml
src/test/resources/transform/CrashDriver/
src/test/resources/validation/ndr/CrashDriver-6.0/
src/test/resources/validation/xml/multi/Crash Driver IEPD/
niem-api.xpr
.env
