{
  "openapi": "3.1.0",
  "info": {
    "contact": {
      "name": "NIEMOpen",
      "url": "https://niemopen.org"
    },
    "description": "Community support for common NIEM tool functionality to browse and search the model, build and migrate subsets, and check conformance",
    "title": "NIEM API 2.0",
    "version": "2.0-alpha06"
  },
  "servers": [
    {
      "url": "https://tools.niem.gov/api/v2",
      "description": "Production server"
    },
    {
      "url": "https://tools.niem.gov/api/mep",
      "description": "MEP instance server"
    },
    {
      "url": "http://localhost:8080/api/v2",
      "description": "Local machine"
    }
  ],
  "tags": [
    {
      "description": "A property represents a concept, idea, or thing. It defines specific semantics and appears in exchanges as the tag or label for a field.",
      "name": "Data-5: Properties"
    },
    {
      "description": "A group or entity responsible for managing NIEM content.",
      "name": "Data-1: Stewards"
    },
    {
      "description": "Transformations",
      "name": "Transforms"
    },
    {
      "description": "A reference or message NIEM data model.",
      "name": "Data-2: Models"
    },
    {
      "description": "An instance of a model, e.g., release.",
      "name": "Data-3: Versions"
    },
    {
      "description": "A type defines a structure - an allowable set of values. A type might describe a simple value (e.g., a string, a number) or a complex object (e.g., PersonType).",
      "name": "Data-6: Types"
    },
    {
      "description": "General application calls",
      "name": "App"
    },
    {
      "description": "Validate models and artifacts.",
      "name": "Validation"
    },
    {
      "description": "Search for properties and types",
      "name": "Search"
    },
    {
      "description": "Migrate to a newer NIEM version",
      "name": "Migrations"
    },
    {
      "description": "A subproperty is the occurrence of a property as it appears when contained by a type.  It carries additional characteristics in this situation, such as cardinality constraints.",
      "name": "Data-7: Subproperties"
    },
    {
      "description": "A collection of properties and types managed by an authoritative source.",
      "name": "Data-4: Namespace"
    },
    {
      "description": "A facet is a code, pattern, length, minimum or maximum value, or other such kind of constraint on a data value, such as a string or number.",
      "name": "Data-8: Facets"
    }
  ],
  "paths": {
    "/migration/cmf": {
      "post": {
        "description": "Migrate a version of a supported model in a CMF file to a newer version.\n\n \u003cp\u003eNote: Only models stored via the NIEM API and that have migration rules are supported.",
        "operationId": "migrateCmf",
        "parameters": [
          {
            "description": "[REQUEST BODY PARAMETER]\n     The version of the data model represented in the CMF file.",
            "example": 3.1,
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[REQUEST BODY PARAMETER]\n     A more recent version of the data model to which the CMF file should be migrated.",
            "example": 5.2,
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[REQUEST BODY PARAMETER]\n     A steward identifier. Defaults to the NIEM steward identifier to migrate a NIEM subset.",
            "example": "niem",
            "in": "query",
            "name": "stewardKey",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[REQUEST BODY PARAMETER]\n     A model identifier for the CMF file. Defaults to the NIEM data model to migrate\n     a NIEM subset.",
            "example": "model",
            "in": "query",
            "name": "modelKey",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "A CMF file containing properties and types to be migrated."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/zip": {}
            },
            "description": "Zip file with updated CMF file and a JSON file with issues encountered\n     during the migration."
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "500": {
            "description": "Error"
          }
        },
        "summary": "Migrate a version of a supported model in a CMF file to a newer version",
        "tags": [
          "Migrations"
        ]
      }
    },
    "/search.cmf/properties": {
      "get": {
        "description": "Search properties in the database based on the given criteria and return results in CMF.",
        "operationId": "getPropertySearchCmf",
        "parameters": [
          {
            "description": "A base NIEM version number (e.g., \"5.2\") to search for NIEM\n     and community content. Defaults to the current NIEM version if not provided.",
            "in": "query",
            "name": "niemVersionNumber",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Search for full tokens in component names and definitions with stemming.\n     Example: \"arm\" returns property names with \"Arm\", \"Armed\", and \"Arming\" but does not\n     return \"Alarm\", \"Firearm\", \"Harm\", etc.",
            "in": "query",
            "name": "token",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Search for partial text in component names and definitions.\n     Example: \"arm\" returns property names with \"Arm\", \"Armed\", \"Arming\", \"Alarm\",\n     \"Firearm\", \"Harm\", etc.",
            "in": "query",
            "name": "substring",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Filter results on the given prefix(es)",
            "in": "query",
            "name": "prefix",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Filter results by substring matching on one of the given types.\n     Example: [\"text\", \"boolean\"] matches properties with types that include\n     nc:TextType and niem-xs:boolean.",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "True if only abstract properties should be returned; false if only\n     non-abstract (concrete) properties should be returned.\n     Omit parameter to return either kind.",
            "in": "query",
            "name": "isAbstract",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "True if only element properties should be returned; false if only\n     attribute properties should be returned.\n     Omit parameter to return either kind.",
            "in": "query",
            "name": "isElement",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A number of results to skip.  Defaults to 0.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "A maximum number of results to return.  Defaults to and will not exceed 100.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "summary": "Search properties in the database based on the given criteria and return results in CMF.",
        "tags": [
          "Search"
        ]
      }
    },
    "/search.cmf/types": {
      "get": {
        "description": "Search types based on given criteria and returns results in CMF.",
        "operationId": "getTypeSearchCmf",
        "parameters": [
          {
            "description": "A base NIEM version number (e.g., \"5.2\") to search\n     for NIEM and community content.\n     Defaults to the current NIEM version if not provided.",
            "in": "query",
            "name": "niemVersionNumber",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Search for full tokens in component names and definitions with stemming.\n     Example: \"arm\" returns property names with \"Arm\", \"Armed\", and \"Arming\"\n     but does not return \"Alarm\", \"Firearm\", \"Harm\", etc.",
            "in": "query",
            "name": "token",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Search for partial text in component names and definitions.\n     Example: \"arm\" returns property names with \"Arm\", \"Armed\", \"Arming\", \"Alarm\",\n     \"Firearm\", \"Harm\", etc.",
            "in": "query",
            "name": "substring",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Filter results on the given prefix(es)",
            "in": "query",
            "name": "prefix",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "A number of results to skip. Defaults to 0.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "A maximum number of results to return. Defaults to and will not exceed 100.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "summary": "Search types based on given criteria and returns results in CMF.",
        "tags": [
          "Search"
        ]
      }
    },
    "/search/properties": {
      "get": {
        "description": "Search properties based on the given criteria.",
        "operationId": "getPropertySearch",
        "parameters": [
          {
            "description": "A base NIEM version number (e.g., \"5.2\") to search for\n     NIEM and community content. Defaults to the current NIEM version if not provided.",
            "in": "query",
            "name": "niemVersionNumber",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Search for full tokens in component names and definitions with stemming.\n     Example: \"arm\" returns property names with \"Arm\", \"Armed\", and \"Arming\" but does\n     not return \"Alarm\", \"Firearm\", \"Harm\", etc.",
            "in": "query",
            "name": "token",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Search for partial text in component names and definitions.\n     Example: \"arm\" returns property names with \"Arm\", \"Armed\", \"Arming\", \"Alarm\",\n     \"Firearm\", \"Harm\", etc.",
            "in": "query",
            "name": "substring",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Filter results on the given prefix(es)",
            "in": "query",
            "name": "prefix",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Filter results by substring matching on one of the given types.\n     Example: [\"text\", \"boolean\"] matches properties with types that include\n     nc:TextType and niem-xs:boolean.",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "True if only abstract properties should be returned; false if only\n     non-abstract (concrete) properties should be returned.\n     Omit parameter to return either kind.",
            "in": "query",
            "name": "isAbstract",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "True if only element properties should be returned; false if\n     only attribute properties should be returned.\n     Omit parameter to return either kind.",
            "in": "query",
            "name": "isElement",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A number of results to skip.  Defaults to 0.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "A maximum number of results to return.  Defaults to and will not exceed 100.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Property"
                  }
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "summary": "Search properties based on the given criteria.",
        "tags": [
          "Search"
        ]
      }
    },
    "/search/types": {
      "get": {
        "description": "Search types based on given criteria.",
        "operationId": "getTypeSearch",
        "parameters": [
          {
            "description": "A base NIEM version number (e.g., \"5.2\") to search\n     for NIEM and community content.\n     Defaults to the current NIEM version if not provided.",
            "in": "query",
            "name": "niemVersionNumber",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Search for full tokens in component names and definitions with stemming.\n     Example: \"arm\" returns property names with \"Arm\", \"Armed\", and \"Arming\"\n     but does not return \"Alarm\", \"Firearm\", \"Harm\", etc.",
            "in": "query",
            "name": "token",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Search for partial text in component names and definitions.\n     Example: \"arm\" returns property names with \"Arm\", \"Armed\", \"Arming\", \"Alarm\",\n     \"Firearm\", \"Harm\", etc.",
            "in": "query",
            "name": "substring",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Filter results on the given prefix(es)",
            "in": "query",
            "name": "prefix",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "A number of results to skip. Defaults to 0.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "A maximum number of results to return. Defaults to and will not exceed 100.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Type"
                  }
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "summary": "Search types based on given criteria.",
        "tags": [
          "Search"
        ]
      }
    },
    "/stewards": {
      "get": {
        "description": "Get all stewards.",
        "operationId": "getStewards",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Steward"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get all stewards.",
        "tags": [
          "Data-1: Stewards"
        ]
      }
    },
    "/stewards/{stewardKey}": {
      "get": {
        "description": "Get a steward.",
        "operationId": "getSteward",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Steward"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Get a steward.",
        "tags": [
          "Data-1: Stewards"
        ]
      }
    },
    "/stewards/{stewardKey}/models": {
      "get": {
        "description": "Use wildcard \u0027*\u0027 for the steward key to return all models",
        "operationId": "getStewardModels",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Model"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Data-2: Models"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}": {
      "get": {
        "description": "Gets a model with the given criteria.",
        "operationId": "getModel",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Gets a model with the given criteria.",
        "tags": [
          "Data-2: Models"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions": {
      "get": {
        "description": "Gets all versions from the model with the given fields.",
        "operationId": "getVersions",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Version"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Gets all versions from the model with the given fields.",
        "tags": [
          "Data-3: Versions"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions.cmf/{versionKey}": {
      "get": {
        "description": "Gets the version with the given fields in CMF.",
        "operationId": "getVersionCmf",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Gets the version with the given fields in CMF.",
        "tags": [
          "Data-3: Versions"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionKey}": {
      "get": {
        "description": "Gets the version with the given fields.",
        "operationId": "getVersion",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Gets the version with the given fields.",
        "tags": [
          "Data-3: Versions"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/namespaces": {
      "get": {
        "description": "Get all namespaces from a version of a model.",
        "operationId": "getVersionNamespaces",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Namespace"
                  }
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Get all namespaces from a version of a model.",
        "tags": [
          "Data-4: Namespace"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/namespaces.cmf": {
      "get": {
        "description": "Get all namespaces as CMF from a version of a model.",
        "operationId": "getVersionNamespacesCmf",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Get all namespaces as CMF from a version of a model.",
        "tags": [
          "Data-4: Namespace"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/namespaces.cmf/{prefix}": {
      "get": {
        "description": "Get a namespace in CMF with the given fields.",
        "operationId": "getNamespaceCmf",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "prefix",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Get a namespace in CMF with the given fields.",
        "tags": [
          "Data-4: Namespace"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/namespaces.cmf/{prefix}/properties": {
      "get": {
        "description": "Gets all properties from a namespace in CMF.",
        "operationId": "getNamespacePropertiesCmf",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "prefix",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Gets all properties from a namespace in CMF.",
        "tags": [
          "Data-4: Namespace"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/namespaces.cmf/{prefix}/types": {
      "get": {
        "description": "Gets all types in CMF from a namespace.",
        "operationId": "getNamespaceTypesCmf",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "prefix",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Gets all types in CMF from a namespace.",
        "tags": [
          "Data-4: Namespace"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/namespaces/{prefix}": {
      "get": {
        "description": "Get a namespace with the given fields.",
        "operationId": "getNamespace",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "prefix",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Namespace"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Get a namespace with the given fields.",
        "tags": [
          "Data-4: Namespace"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/namespaces/{prefix}/properties": {
      "get": {
        "description": "Gets all properties from a namespace.",
        "operationId": "getNamespaceProperties",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "prefix",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Property"
                  }
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Gets all properties from a namespace.",
        "tags": [
          "Data-4: Namespace"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/namespaces/{prefix}/subproperties": {
      "get": {
        "description": "Gets all subproperties from the database in the given namespace fields.",
        "operationId": "getNamespaceSubproperties",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "prefix",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subproperty"
                  },
                  "uniqueItems": true
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Gets all subproperties from the database in the given namespace fields.",
        "tags": [
          "Data-7: Subproperties"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/namespaces/{prefix}/types": {
      "get": {
        "description": "Gets all types from a namespace.",
        "operationId": "getNamespaceTypes",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "prefix",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Type"
                  }
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Gets all types from a namespace.",
        "tags": [
          "Data-4: Namespace"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/properties": {
      "get": {
        "description": "Gets all properties from the version with the given fields.\n Note: Currently returns null until pagination support is added.",
        "operationId": "getAllProperties",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Property"
                  }
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Gets all properties from the version with the given fields.",
        "tags": [
          "Data-5: Properties"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/properties.cmf/{qname}": {
      "get": {
        "description": "Gets a property in CMF with the given fields.",
        "operationId": "getPropertyCmf",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "qname",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Gets a property in CMF with the given fields.",
        "tags": [
          "Data-5: Properties"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/properties/{propertyQname}/subproperties": {
      "get": {
        "description": "Gets all subproperties from the database with the property with the given fields.",
        "operationId": "getPropertySubproperties",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "propertyQname",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subproperty"
                  },
                  "uniqueItems": true
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Gets all subproperties from the database with the property with the given fields.",
        "tags": [
          "Data-7: Subproperties"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/properties/{qname}": {
      "get": {
        "description": "Gets a property with the given fields.",
        "operationId": "getProperty",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "qname",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Gets a property with the given fields.",
        "tags": [
          "Data-5: Properties"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/subproperties": {
      "get": {
        "description": "Gets all subproperties from the database in the version with the given fields.",
        "operationId": "getAllSubproperties",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subproperty"
                  },
                  "uniqueItems": true
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Gets all subproperties from the database in the version with the given fields.",
        "tags": [
          "Data-7: Subproperties"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/types": {
      "get": {
        "description": "Gets all types in the version matching the given fields.\n Note: Currently returns null until pagination is supported.",
        "operationId": "getAllTypes",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Type"
                  }
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Gets all types in the version matching the given fields.",
        "tags": [
          "Data-6: Types"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/types.cmf/{qname}": {
      "get": {
        "description": "Gets the type with the given fields in CMF.",
        "operationId": "getTypeCmf",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "qname",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Gets the type with the given fields in CMF.",
        "tags": [
          "Data-6: Types"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/types.cmf/{qname}/facets": {
      "get": {
        "description": "Gets all facets in CMF from the type with the given criteria.",
        "operationId": "getFacetsCmf",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "qname",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Gets all facets in CMF from the type with the given criteria.",
        "tags": [
          "Data-8: Facets"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/types.cmf/{qname}/facets/{category}\u003d{value}": {
      "get": {
        "description": "Gets a facet in CMF with the given criteria.",
        "operationId": "getFacetCmf",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "qname",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "category",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "enumeration",
                "pattern",
                "length",
                "minLength",
                "maxLength",
                "minExclusive",
                "maxExclusive",
                "minInclusive",
                "maxInclusive",
                "fractionDigits",
                "totalDigits",
                "whiteSpace"
              ]
            }
          },
          {
            "in": "path",
            "name": "value",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Gets a facet in CMF with the given criteria.",
        "tags": [
          "Data-8: Facets"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/types.cmf/{typeQname}/subproperties": {
      "get": {
        "description": "Gets all subproperties from the database in the type with the given fields, in CMF.",
        "operationId": "getTypeSubpropertiesCmf",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "typeQname",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Gets all subproperties from the database in the type with the given fields, in CMF.",
        "tags": [
          "Data-7: Subproperties"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/types.cmf/{typeQname}/subproperties/{propertyQname}": {
      "get": {
        "description": "Gets a subproperty from the database with the type with the given type fields and\n the property with the given qualified name, converted to CMF.",
        "operationId": "getSubpropertyCmf",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "typeQname",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "propertyQname",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Gets a subproperty from the database with the type with the given type fields and\n the property with the given qualified name, converted to CMF.",
        "tags": [
          "Data-7: Subproperties"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/types/{qname}": {
      "get": {
        "description": "Gets the type with the given fields.",
        "operationId": "getType",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "qname",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Type"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Gets the type with the given fields.",
        "tags": [
          "Data-6: Types"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/types/{qname}/facets": {
      "get": {
        "description": "Gets all facets from the type with the given criteria.",
        "operationId": "getFacets",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "qname",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Facet"
                  },
                  "uniqueItems": true
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Gets all facets from the type with the given criteria.",
        "tags": [
          "Data-8: Facets"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/types/{qname}/facets/{category}\u003d{value}": {
      "get": {
        "description": "Gets a facet with the given criteria.",
        "operationId": "getFacet",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "qname",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "category",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "enumeration",
                "pattern",
                "length",
                "minLength",
                "maxLength",
                "minExclusive",
                "maxExclusive",
                "minInclusive",
                "maxInclusive",
                "fractionDigits",
                "totalDigits",
                "whiteSpace"
              ]
            }
          },
          {
            "in": "path",
            "name": "value",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Facet"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Gets a facet with the given criteria.",
        "tags": [
          "Data-8: Facets"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/types/{typeQname}/subproperties": {
      "get": {
        "description": "Gets all subproperties from the database in the type with the give fields.",
        "operationId": "getTypeSubproperties",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "typeQname",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subproperty"
                  },
                  "uniqueItems": true
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Gets all subproperties from the database in the type with the give fields.",
        "tags": [
          "Data-7: Subproperties"
        ]
      }
    },
    "/stewards/{stewardKey}/models/{modelKey}/versions/{versionNumber}/types/{typeQname}/subproperties/{propertyQname}": {
      "get": {
        "description": "Gets a subproperty from the database with the type with the given type fields and\n the property with the given qualified name.",
        "operationId": "getSubproperty",
        "parameters": [
          {
            "in": "path",
            "name": "stewardKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "modelKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "versionNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "typeQname",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "propertyQname",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subproperty"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Gets a subproperty from the database with the type with the given type fields and\n the property with the given qualified name.",
        "tags": [
          "Data-7: Subproperties"
        ]
      }
    },
    "/transforms/models": {
      "post": {
        "description": "Transform a model from one supported NIEM format to another.",
        "operationId": "transformModel",
        "parameters": [
          {
            "description": "[REQUEST BODY PARAMETER] The current model format of the input file.",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "cmf",
                "xsd"
              ]
            }
          },
          {
            "description": "[REQUEST BODY PARAMETER] The requested output format for the transformation.",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "cmf",
                "owl",
                "xsd",
                "json_schema"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "A file with a NIEM model."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {},
              "application/xml": {},
              "application/zip": {},
              "text/turtle": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "500": {
            "description": "Error"
          }
        },
        "summary": "Transform a model from one supported NIEM format to another.",
        "tags": [
          "Transforms"
        ]
      }
    },
    "/validation/cmf/xml": {
      "post": {
        "description": "Validate a CMF XML file against the NIEM CMF XML schema.",
        "operationId": "getCmfXmlValidation",
        "parameters": [
          {
            "description": "REQUEST BODY PARAMETER. File format for the validation results.",
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "csv"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "A CMF XML file."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {},
              "text/csv": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "500": {
            "description": "Error"
          }
        },
        "summary": "Validate a CMF XML file against the NIEM CMF XML schema.",
        "tags": [
          "Validation"
        ]
      }
    },
    "/validation/instances/xml": {
      "post": {
        "description": "Validate one or more XML instances against XML schemas.",
        "operationId": "getXmlValidation",
        "parameters": [
          {
            "description": "REQUEST BODY PARAMETER. File format for the validation results.",
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "csv"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "xml": {
                    "type": "string",
                    "format": "binary",
                    "description": "An XML instance file or set of XML instance files in a zip file."
                  },
                  "xsd": {
                    "type": "string",
                    "format": "binary",
                    "description": "An XML schema or set of XML schemas in a zip file."
                  }
                },
                "required": [
                  "xml",
                  "xsd"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {},
              "text/csv": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "500": {
            "description": "Error"
          }
        },
        "summary": "Validate one or more XML instances against XML schemas.",
        "tags": [
          "Validation"
        ]
      }
    },
    "/validation/message-catalog": {
      "post": {
        "description": "Validate an IEPD / message catalog instance file against the NIEM IEPD /\n message catalog schema.",
        "operationId": "getMessageCatalogXmlValidation",
        "parameters": [
          {
            "description": "REQUEST BODY PARAMETER. File format for the validation results.",
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "csv"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "An IEPD / message catalog instance file"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {},
              "text/csv": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "500": {
            "description": "Error"
          }
        },
        "summary": "Validate an IEPD / message catalog instance file against the NIEM IEPD /\n message catalog schema.",
        "tags": [
          "Validation"
        ]
      }
    },
    "/validation/message-specification": {
      "post": {
        "description": "Validate a message specification or IEPD zip file against NIEM message\n specification / IEPD conformance rules.\n\n \u003cp\u003eRuns the following checks:\n\n \u003cul\u003e\n   \u003cli\u003eValidates the MPD or IEPD catalog.\u003c/li\u003e\n   \u003cli\u003eValidates XML catalogs\u003c/li\u003e\n   \u003cli\u003eValidates XML schemas\u003c/li\u003e\n   \u003cli\u003eValidates XML schemas against NDR conformance rules\u003c/li\u003e\n \u003c/ul\u003e",
        "operationId": "getMessageSpecificationValidation",
        "parameters": [
          {
            "description": "REQUEST BODY PARAMETER. File format for the validation results.",
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "csv"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "A message specification or IEPD zip file."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {},
              "text/csv": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "500": {
            "description": "Error"
          }
        },
        "summary": "Validate a message specification or IEPD zip file against NIEM message\n specification / IEPD conformance rules",
        "tags": [
          "Validation"
        ]
      }
    },
    "/validation/schemas/ndr": {
      "post": {
        "description": "Validate one or more XML Schemas against the NIEM Naming and Design Rules (NDR).",
        "operationId": "getSchemaNdrValidation",
        "parameters": [
          {
            "description": "REQUEST BODY PARAMETER. File format for the validation results.",
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "csv"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "XML Schema or zip file"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {},
              "text/csv": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "500": {
            "description": "Error"
          }
        },
        "summary": "Validate one or more XML Schemas against the NIEM Naming and Design Rules (NDR).",
        "tags": [
          "Validation"
        ]
      }
    },
    "/validation/schemas/xml": {
      "post": {
        "description": "Validate one or more XML Schemas.",
        "operationId": "getXsdValidation",
        "parameters": [
          {
            "description": "File format for the validation results.",
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "csv"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "REQUEST BODY PARAMETER.  Single XML Schema or a zip file containing\n     multiple XML Schemas."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {},
              "text/csv": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "500": {
            "description": "Error"
          }
        },
        "summary": "Validate one or more XML Schemas.",
        "tags": [
          "Validation"
        ]
      }
    },
    "/validation/xml-catalog": {
      "post": {
        "description": "Validate a XML catalog against the OASIS catalog schema.",
        "operationId": "getXmlCatalogXmlValidation",
        "parameters": [
          {
            "description": "REQUEST BODY PARAMETER. File format for the validation results.",
            "in": "query",
            "name": "mediaType",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "csv"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "An XML catalog file."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {},
              "text/csv": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "500": {
            "description": "Error"
          }
        },
        "summary": "Validate a XML catalog against the OASIS catalog schema.",
        "tags": [
          "Validation"
        ]
      }
    },
    "/version": {
      "get": {
        "description": "Get the current version of the NIEM API application.",
        "operationId": "version",
        "responses": {
          "200": {
            "content": {
              "text/plain": {}
            },
            "description": "Success"
          }
        },
        "summary": "Get the current version of the NIEM API application.",
        "tags": [
          "App"
        ]
      }
    },
    "/version/cmf": {
      "get": {
        "description": "Get the current version of the CMF Specification supported by the NIEM API.",
        "operationId": "cmfVersion",
        "responses": {
          "200": {
            "content": {
              "text/plain": {}
            },
            "description": "Success"
          }
        },
        "summary": "Get the current version of the CMF Specification supported by the NIEM API.",
        "tags": [
          "App"
        ]
      }
    },
    "/version/cmftool": {
      "get": {
        "description": "Get the current version of the CMF Tool used by the NIEM API.",
        "operationId": "cmftoolVersion",
        "responses": {
          "200": {
            "content": {
              "text/plain": {}
            },
            "description": "Success"
          }
        },
        "summary": "Get the current version of the CMF Tool used by the NIEM API.",
        "tags": [
          "App"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Facet": {
        "type": "object",
        "description": "A constraint on a datatype, such as an enumeration or a pattern.",
        "properties": {
          "@id": {
            "type": "string",
            "description": "A unique identifier.  For a facet, this is combines the stewardKey, modelKey, versionNumber, qualified type, facet category, and facet value fields.",
            "example": "niem/model/5.2/nc:AddressCategoryCodeSimpleType/enumeration\u003dresidential"
          },
          "@type": {
            "type": "string",
            "description": "A kind of NIEM entity, such as a Namespace or a Property.",
            "example": "Facet"
          },
          "category": {
            "type": "string",
            "description": "A kind of facet, e.g., \"enumeration\"",
            "enum": [
              "enumeration",
              "pattern",
              "length",
              "minLength",
              "maxLength",
              "minExclusive",
              "maxExclusive",
              "minInclusive",
              "maxInclusive",
              "fractionDigits",
              "totalDigits",
              "whiteSpace"
            ]
          },
          "definition": {
            "type": "string"
          },
          "isDeprecated": {
            "type": "boolean",
            "description": "True if an entity is deprecated; false or null otherwise.",
            "example": false
          },
          "isOriginal": {
            "type": "boolean",
            "example": false
          },
          "localIdentifier": {
            "type": "string",
            "description": "An identifier, unique within its immediate scope.  For a facet, this is the qname of its type followed by facet category and value (unique within its version starting with NIEM 6.0).",
            "example": "nc:AddressCategoryCodeSimpleType/enumeration\u003dresidential"
          },
          "model": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets the Model that defines this object."
          },
          "namespace": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets the Namespace that contains the type of this facet."
          },
          "route": {
            "type": "string",
            "description": "An endpoint to get information about a facet.",
            "example": "https://tools.niem.gov/api/v2/stewards/niem/models/model/versions/5.2/types/nc:AddressCategoryCodeType/enumeration\u003dresidential"
          },
          "steward": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets the Steward which is responsible for managing this entity."
          },
          "title": {
            "type": "string",
            "description": "A steward short name, model short name, version number, qualified type name, and qualified property name.",
            "example": "NIEM Model 5.2: nc:PersonType contains nc:PersonName"
          },
          "value": {
            "type": "string"
          },
          "version": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets the version in which this namespace belongs."
          }
        }
      },
      "Model": {
        "type": "object",
        "description": "A reference or message data model.",
        "properties": {
          "@id": {
            "type": "string",
            "description": "A unique identifier.  For a model, this is combines the stewardKey and modelKey fields.",
            "example": "niem/crash-driver"
          },
          "@type": {
            "type": "string",
            "description": "A kind of NIEM entity, such as a Namespace or a Property.",
            "example": "Model"
          },
          "category": {
            "type": "string",
            "description": "A kind of data model.",
            "enum": [
              "reference",
              "message",
              "other"
            ],
            "example": "message"
          },
          "description": {
            "type": "string",
            "description": "A description of a model.",
            "example": "A Crash Driver IEPD used in training to demonstrate NIEM concepts."
          },
          "developer": {
            "type": "string",
            "description": "A name of an organization or person that developed a model.",
            "example": "NIEM staff"
          },
          "fullName": {
            "type": "string",
            "description": "A full name used to identify a model.",
            "example": "NIEM Training Crash Driver IEPD"
          },
          "keywords": {
            "type": "string",
            "description": "A common alias, term, or phrase that would help to facilitate search and\n discovery of this IEPD.",
            "example": "crash, accident, vehicle, injury, charge, driver"
          },
          "localIdentifier": {
            "type": "string",
            "description": "An identifier, unique within its immediate scope.  For a model, this is the same as the modelKey field (unique within its steward).",
            "example": "crash-driver"
          },
          "modelKey": {
            "type": "string",
            "description": "A human-readable and url-friendly model identifier generated from the shortName\n field, unique within the set of models owned by its steward.",
            "example": "crash-driver"
          },
          "objective": {
            "type": "string",
            "description": "An intended use for a model, such as for actual implementation or for\n testing tool features or IEPD / message specification features.",
            "enum": [
              "implementation",
              "example",
              "test",
              "other"
            ],
            "example": "example"
          },
          "purpose": {
            "type": "string",
            "description": "A description of the intended usage and reason for which an IEPD exists.",
            "example": "This IEPD was developed to demonstrate NIEM concepts such as associations, roles, augmentations, metadata, adapters, and external standards."
          },
          "repo": {
            "type": "string",
            "description": "A code repository which hosts full IEPDs or message specifications representing the model.",
            "example": "https://github.com/niem/niem-training"
          },
          "route": {
            "type": "string",
            "description": "An endpoint to get information about a model.",
            "example": "https://tools.niem.gov/api/v2/stewards/niem/models/crash-driver"
          },
          "shortName": {
            "type": "string",
            "description": "A short name or acronym used to identify a model.",
            "example": "Crash Driver",
            "minLength": 1
          },
          "steward": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "A steward responsible for the management of the model."
          },
          "subjects": {
            "type": "string",
            "description": "A description of the environment or NIEM Domain in which this IEPD is\n applicable or used.",
            "example": "Justice, Transportation, Highway Safety"
          },
          "title": {
            "type": "string",
            "description": "A steward short name and model short name.",
            "example": "NIEM Crash Driver"
          },
          "website": {
            "type": "string",
            "description": "A website address by which a person or organization may be contacted.",
            "example": "https://niem.github.io/training/"
          }
        }
      },
      "Namespace": {
        "type": "object",
        "description": "A collection of properties and types managed by an authoritative source.",
        "properties": {
          "@id": {
            "type": "string",
            "description": "A unique identifier.  For a namespace, this is combines the stewardKey, modelKey, versionNumber, and prefix fields.",
            "example": "niem/crash-driver/1.1/nc"
          },
          "@type": {
            "type": "string",
            "description": "A kind of NIEM entity, such as a Namespace or a Property.",
            "example": "Namespace"
          },
          "category": {
            "type": "string",
            "description": "A kind of namespace.",
            "enum": [
              "core",
              "domain",
              "code",
              "adapter",
              "auxiliary",
              "external",
              "utility",
              "core_supplement",
              "domain_update",
              "extension",
              "exchange",
              "built_in",
              "other"
            ],
            "example": "core"
          },
          "conformanceTarget": {
            "type": "string",
            "description": "Gets the conformance target URI based on the target and NIEM version number\n of this namespace."
          },
          "definition": {
            "type": "string",
            "description": "A definition that describes a namespace.",
            "example": "NIEM Core."
          },
          "draft": {
            "type": "string",
            "description": "A draft version of a namespace. NIEM conventions are to use the value \"1\"\n for a namespace that has reached release candidate status or has been\n published.",
            "example": "alpha2"
          },
          "filename": {
            "type": "string",
            "description": "The filename to use for representations of this namespace such as XML schemas,\n without a file extension.",
            "example": "niem-core"
          },
          "filepath": {
            "type": "string",
            "description": "The filepath to use for nested representations of this namespace such as\n for XML schemas, without the filename or extension.",
            "example": "xsd/"
          },
          "generation": {
            "type": "string",
            "description": "A means by which a namespace should be generated.\n \u003cul\u003e\n   \u003cli\u003ebuild: Generate by assembling its properties and types\u003c/li\u003e\n   \u003cli\u003estatic_file: Include it\u0027s pre-built file (e.g., externals and utilities)\u003c/li\u003e\n   \u003cli\u003enone: Namespace may be referenced but does not need to be included\n     (e.g., XML Schema)\u003c/li\u003e\n \u003c/ul\u003e\n Defaults to \"build\".",
            "enum": [
              "build",
              "static_file",
              "none"
            ],
            "example": "REF"
          },
          "hasTarget": {
            "type": "boolean",
            "example": true
          },
          "isDeprecated": {
            "type": "boolean",
            "description": "True if an entity is deprecated; false or null otherwise.",
            "example": false
          },
          "isOriginal": {
            "type": "boolean",
            "example": false
          },
          "localIdentifier": {
            "type": "string",
            "description": "An identifier, unique within its immediate scope.  For a namespace, this is the same as the prefix field (unique within its version).",
            "example": "nc"
          },
          "model": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets the Model that defines this object."
          },
          "name": {
            "type": "string",
            "description": "A name of a namespace.",
            "example": "NIEM Core"
          },
          "prefix": {
            "type": "string",
            "description": "A short, non-normative identifier for a namespace.",
            "example": "nc"
          },
          "route": {
            "type": "string",
            "description": "An endpoint to get information about a namespace.",
            "example": "https://tools.niem.gov/api/v2/stewards/niem/models/crash-driver/version/1.1/namespaces/nc"
          },
          "steward": {
            "type": "object",
            "additionalProperties": {
[...]
